@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#0f0e13;
  color:white;
}
a{
  color: unset;
  text-decoration: none;
}

.gradient-bg-welcome {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}
.card_background{
  background-color: hsla(339, 49%, 30%, 1);
}
.service_card{

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.text_gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg-nav{
  background-color: rgb(23, 28, 42);
}

.gradient-bg-services {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 100%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 53%),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.background {
  background-color: #222222;
  color: #fff;
}

.changeImage {
  filter: grayscale(100%);
}
/* About.css */

.app-container {
  padding-top: 100px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
}

.heading {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  color: rgb(34, 33, 33);
  margin-bottom: 20px;
}


.content-container {
  display: flex;
  width: 100%;
}

.left-panel {
  width: 70%;
  padding-right: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  padding: 3px 9px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  transition: color 0.3s, border-bottom 0.3s;
  font-weight: bold;
  font-size: large;
  border-bottom: 2px solid rgb(216, 213, 221);
}

.menu li.active {
  /* color: #4f46e5; */
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  box-shadow: 0px -5px 6px #4f46e5;
  border-bottom: none;
}

.menu li:hover {
  /* color: #3e36e3; */
  border-bottom: none;
}


/*
.menu li {
  margin-right: 20px;
  cursor: pointer;
  color: black;
  position: relative;
  border-bottom: 2px solid rgb(205, 202, 209);
  transition: color 0.3s, border-bottom 0.3s;
}

.menu li:hover {
  color: indigo;
  border-bottom: 2px solid indigo;
}
.right-panel {
  width: 30%;
}*/

.right-panel img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .heading{
     font-size: 27px;
  }
  .menu{
    align-items:center;
    justify-content: end;
  }
  .menu li{
    margin-top: 10px;
    margin-left: 2px;
    font-size: 13px;
  }
}
.total{
  padding-top: 30px;
  width: 100%;
}
.left-side{
  width: 50%;
  background-size: cover;
  padding:2rem;
  margin-top: 2rem;

}
.right-side{
  /* display: flex; */
 width: 60%;
 padding: 0px 50px;
}
/* .f{
  margin-top: 18rem;
} */
.max_container2{
  margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 80px);
    max-width: 64rem;
    padding-left: 2em;
    padding-top: 50px !important;
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-transparent border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
    @apply text-black-500 font-extrabold flex-1 text-3xl max-md:text-center;
  }
}


@media only screen and (max-width: 768px) {
  .total{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-side{
    width: 99%;
    height: 35em;
  }
  .right-side{
    width: 100%;
  }
  .f{
    margin-top: 6rem;
  }

 .first{
  display: none;
 }
 .second{
   display: none;
 }
 .third{
  display: block;
 }
 .third:hover{
  transform: scale(1.2);
}

}
@media (min-width: 768px) and (max-width: 1150px){
  .total{

    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first{
    display: none;
   }
  .left-side{
    width: 100%;
    height: 55em;
  }
  .right-side{
    width: 100%;
  }
  .f{
    margin-top: 25rem;
  }
  .second{
    display: none;
  }
  .third{
   display: block;
  }
  .third:hover{
    transform: scale(1.2);
  }

}

/* contact page end*/
